*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
}

ul,li{
  list-style: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.global-title{
  color: #0974f1;
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
  text-align: center;
}

p{
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 1px;
  font-weight: 300;
  color:#000;
}

















