$header-height:70px;
$header-bg:rgba(0,0,0,1);
$link-color: rgba(255, 255, 255, 0.75);
$blue: #0974f1;
$spacing-between-sections: 100px 200px;
$text-color: #000;
$font-wight: 300;
$line-hight: 1.5;


