@import "./_veriables";
@import "./_mixins";

.home {
  position: relative;
  height: 107vh;

  &::after {
    content: "";
    position: absolute;
    background-color: $header-bg;
    opacity: .3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    right: 0;
  }


  .content {
    padding-top: 30px;
    .title {
      position: absolute;
      z-index: 20;
      width: 60%;
      display: flex;
      align-items: center;
      height: 100%;
      padding-bottom: 150px;
      padding-left: 110px;


      h1 {
        color: $link-color;
        letter-spacing: 1px;
        line-height: 1.25;
        font-size: 42px;
        padding: 24px 0 45px 0;
      }

      .btn{
        margin-top: 15px;
        @include flex-start();

        .home-first-btn {
          @include blue-btn() ;
        }

        .home-second-btn {
          margin-left: 10px;
          background: transparent;
          color: $link-color;
          padding: 10px 25px;
          border: 2px solid $link-color ;
          border-radius: 20px;
          font-style: normal;
          font-weight: normal;
          text-align: center;
          font-size: 14px;
        }
      }
      #fill-icon{
        font-size: 52px;
        color: $link-color;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 80px;
        transition: all .3s ease;
        &:hover{
          cursor: pointer;
          transform: translateY(7%);
        }
      }
    }
  }
}
